header{
    display: flex;
    justify-content: center;
    height: 80px;
}

header .container {
    width: 95%;
    display: flex;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    color: #666;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

ul {
    list-style: none;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

main {
    background: orange;
}

footer {
    background: yellow;
    height: 100px;
    text-align: center;
}